<div id="add_details" class="row">
    <div id="coupon" class="col-md-6  offset-md-3">
        <% unless @cart.coupon.present? %>
            <h3><%= t('.coupon', default: 'Discount Coupon') %></h3>
            <div id="e_coupon_apply_box" data-href="<%= plugins_ecommerce_res_coupon_path %>" data-token="<%= form_authenticity_token %>">
                <div class="input-group">
                    <input type="text" class="form-control coupon-text" autocomplete="off" placeholder="<%= t('.coupon_msg', default: 'Enter your code here') %>" >
                    <span class="input-group-btn"><button class="btn-ge-red" type="button"><%= t('.apply', default: 'Apply') %></button></span>
                    <span class="input-group-addon hidden"><i class='glyphicon glyphicon-ok'></i></span>
                </div><!-- /input-group -->
                <input type="hidden" name="order[payment][coupon_code]" id="coupon_code" value="">
            </div>
        <% end %>
    </div>
    <div class="col-md-6">
        <% if current_site.shipping_methods.any? && @cart.contains_physical_products? %>
            <div id="shipping" data-no-turbolink="">
                <h3><%= t('.shipping_options', default: 'Shipping Options') %></h3>
                <div class="form-group">
                    <select class="form-control required" name="shipping_method" id="shipping_methods" >
                        <% current_site.shipping_methods.each do |m| price = m.get_price_from_weight(@cart.weight_total); the_price = e_parse_price(price) %>
                            <option value="<%= m.id %>" <%= 'selected' if @cart.shipping_method_id == m.id %> data-price="<%= price %>"><%= m.name.translate %> (<%= the_price %>)</option>
                        <% end %>
                    </select>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div id="product_details">
    <%= render plugin_view('partials/checkout/products_detail') %>
</div>
<div class="text-right">
    <button type="submit" class="btn-ge-red"><%= t('.next', default: 'Next') %></button>
</div>