<% args={custom_slider: nil, custom_footer: nil, extra_footer: nil, custom_sidebar: nil, custom_cart_widget: nil, product: @post}; hooks_run('ecommerce_product_page', args) # permit custom footer %>
<% if args[:custom_cart_widget].nil? %>
    <%= render plugin_view('partials/cart_widget') %>
<% else %>
    <%= raw args[:custom_cart_widget] %>
<% end %>
<div class="row">
    <div class="col-md-9 post-view">
        <article class="post-content" id="product_view">
            <div class="row">
                <div class="col-md-6">
                    <% unless args[:custom_slider].present? %>
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <% @post.the_photos.each_with_index do |pthoto, index| %>
                                    <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
                                <% end %>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <% @post.the_photos.each_with_index do |pthoto, index| %>
                                    <div class="item <%= 'active' if index == 0 %>">
                                        <img src="<%= pthoto %>" class="center-block">
                                    </div>
                                <% end %>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left fa fa-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right fa fa-chevron-right " aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    <% else %>
                        <%= raw args[:custom_slider] %>
                    <% end %>
                </div>

                <div class="col-md-6">
                    <%= render 'post_types/commerce/product_info', product: @post %>
                </div>
            </div>

            <% unless args[:custom_footer].present? %>
                <div class="row">
                    <div class="col-md-6">
                        <h3><%= t('plugins.ecommerce.single.descr', default: 'Description') %></h3>
                        <div class="item-content">
                            <%= raw @post.the_content %>
                        </div>
                    </div>
                    <% if (attrs = @post.the_attribute_fields('ecommerce_attrs').to_a).present? %>
                        <div class="col-md-6">
                            <h3><%= t('plugins.ecommerce.single.attrs', default: 'Attributes') %></h3>
                            <table class="table table-bordered">
                                <% attrs.each_with_index do |attr, index| %>
                                    <tr>
                                        <td><strong><%= attr['attr'].to_s.translate %></strong></td>
                                        <td><%= attr['value'].to_s.translate %></td>
                                    </tr>
                                <% end %>
                            </table>
                        </div>
                    <% end %>
                </div>
            <% else %>
                <%= raw args[:custom_footer] %>
            <% end %>
            <%= raw args[:extra_footer] if args[:extra_footer].present? %>
        </article>
    </div>
    <div class="col-md-3">
        <% unless args[:custom_sidebar].present? %>
            <%= render partial: 'partials/sidebar', locals: {post: @post, skip_fields: true} %>
        <% else %>
        <%= raw args[:custom_sidebar] %>
        <% end %>
    </div>
</div>
