<div class="cart_view">
    <%= render 'post_types/commerce/cart_widget', products: @products %>
  <h1><%= t('.title', default: 'Shopping Cart') %></h1>
  <%= form_tag(plugins_ecommerce_checkout_cart_update_path, :method => "post", :class => "form") do %>
      <table id="table-shopping-cart" class="table table-bordered">
          <thead>
          <tr>
              <th id="item_col"><%= t('.item', default: 'Item') %></th>
              <th id="price_col"><%= t('.price', default: 'Price') %></th>
              <th id="price_col"><%= t('.tax', default: 'Tax') %></th>
              <th id="quantity_col"><%= t('.quantity', default: 'Quantity') %></th>
              <th id="subtotal_col"><%= t('.subtotal', default: 'Subtotal') %></th>
              <th></th>
          </tr>
          </thead>
          <tbody>
          <% @products.each do |item| product = item.product.decorate %>
              <tr>
                  <td><a href="<%= item.the_url %>"><%= item.the_title %></a></td>
                  <td><%= item.the_price %></td>
                  <td><%= item.the_tax %></td>
                  <td>
                      <input name="product_items[][item_id]" type="hidden" value="<%= item.id %>"/>
                      <input class="text-qty" type="number" name="product_items[][qty]" value="<%= item.qty %>">
                  </td>
                  <td><%= item.the_sub_total %></td>
                  <td>
                      <a rel="nofollow" data-method="delete" href="<%= plugins_ecommerce_checkout_cart_remove_path(product_item_id: item.id) %>"><%= t('.delete', default: 'Remove') %></a>
                  </td>
              </tr>
          <% end %>
          </tbody>
          <tfoot>
          <tr>
              <td colspan="4"></td>
              <td><%= t('.subtotal', default: 'Subtotal') %></td>
              <td><%= @cart.the_total_amount %></td>
          </tr>
          </tfoot>
      </table>
      <% if @products.size > 0 %>
          <div class="text-right">
              <button type="submit" class="btn btn-ge-gray-radius"> <%= t('.update', default: 'Update') %> </button>
              <a class="btn-ge-red" href="<%= plugins_ecommerce_checkout_path %>"><i class="fa fa-shopping-cart"></i> <%= t('.proceed', default: 'Proceed to Checkout') %></a>
          </div>
      <% end %>
  <% end %>
</div>
