<% cama_load_custom_assets({"plugin_ecommerce"=>{css: [plugin_asset("checkout")] } }) %>
<% if warning.present? %>
    <div class="alert alert-danger"><%= raw warning.join("<br>") %></div>
<% end %>
<div id="cama_checkout_view" class="row checkout_view">
    <%= render 'post_types/commerce/cart_widget' %>
    <h1><%= t('.check_out_process', default: 'Checkout Process') %></h1>
    <div class="stepwizard col-md-offset-3 col-sm-offset-3">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-default btn-red btn-circle" disabled="disabled"></a>
                <p><%= t('.step', default: 'Step') %> 1</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-red btn-circle" disabled="disabled"></a>
                <p><%= t('.step', default: 'Step') %> 2</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-red btn-circle" disabled="disabled"></a>
                <p><%= t('.step', default: 'Step') %> 3</p>
            </div>
        </div>
    </div>

    <div class="steps_content">
        <div class="row setup-content" id="step-1">
            <%= form_tag(plugins_ecommerce_checkout_step_address_path, :method => "post", :class => "col-md-12", id: 'checkout_address_form') do %>
                <%= render plugin_view('partials/checkout/user_info') %>
                <div class="clearfix"></div>
            <% end %>
        </div>
        <div class="row setup-content" id="step-2">
            <%= form_tag(plugins_ecommerce_checkout_step_shipping_path, :method => "post", :class => "col-md-12", id: 'checkout_shipping_form') do %>
                <%= render plugin_view('partials/checkout/details') %>
            <% end %>
        </div>
        <div class="row setup-content" id="step-3">

        </div>
    </div>
</div>
<script>jQuery(function(){ cama_checkout_actions(); <% if flash[:payment_error].present? %> setTimeout(function(){ $('#cama_checkout_view #checkout_shipping_form').submit(); }, 200); <% end %> })</script>
