<%= render plugin_view('partials/cart_widget') %>
<h2><%= t('.title', default: 'My Orders') %></h2>
<table id="table-shopping-cart" class="table">
  <thead>
  <tr>
    <th><%= t('.id', default: 'ID') %></th>
    <th><%= t('.status', default: 'Status') %></th>
    <th><%= t('.products', default: 'Products') %></th>
    <th><%= t('.total_amount', default: 'Total Amount') %></th>
    <th><%= t('.coupon', default: 'Coupon') %></th>
    <th><%= t('.paid_amount', default: 'Paid Amount') %></th>
    <th><%= t('.order_date', default: 'Order Date') %></th>
    <th><%= t('.method', default: 'Payment Method') %></th>
    <th style="width: 90px"></th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.slug %></td>
        <td><%= raw order.the_status  %></td>
        <td>
          <% order.product_items.each do |item| %>
              <%= item.qty %> x <%= item.cache_the_title %> (<%= item.cache_the_price %>) <br>
          <% end %>
        </td>
        <td><%= order.cache_the_sub_total  %></td>
        <td><%= order.cache_the_discounts  %></td>
        <td><%= order.cache_the_total  %></td>
        <td><%= order.the_paid_at %></td>
        <td><%= order.payment_method.name rescue '' %></td>
        <td>
          <a href="<%= plugins_ecommerce_order_show_path(order: order.slug) %>" class="btn btn-default btn-xs"><%= t('.view', default: 'View') %></a>
        </td>
      </tr>
  <% end  %>
  </tbody>
</table>
