<% order ||= @order 
    billing_address = order.get_meta("billing_address", {})
    shipping_address = order.get_meta("shipping_address", {})
    shipping_address = {} unless shipping_address
%>
<div class="order_details">
    <% unless defined?(as_partial) %>
        <%= raw ecommerce_draw_breadcrumb %>
        <h1><%= t('.title', default: 'Order Details') %>: <%= order.slug %></h1>
    <% end %>
    <div class="basic_info">
        <% if order.invoice_number.present? %><b><%= t('.invoice_number', default: 'Invoice Number') %>: </b> <%= order.invoice_number %><br> <% end %>
        <% if order.received_at.present? %><b><%= t('.received_at', default: 'Received At') %>: </b> <%= order.the_received_at %><br> <% end %>
        <b><%= t('.created_at', default: 'Created At') %>: </b> <%= order.created_at %><br>
        <% if order.shipped_at.present? %><b><%= t('.shipped_at', default: 'Shipped At') %>: </b> <%= order.the_shipped_at %><br> <% end %>
    </div>
    <div>
        <h4><%= t('.customer_info', default: 'Customer Info') %></h4>
        <ul class="ec-list-orders-address">
            <li><strong><%= t('.name', default: 'Name') %>:</strong> <span> <%= order.user.fullname %></span></li>
            <li><strong><%= t('.email', default: 'Email') %>:</strong> <span> <%= order.user.email %></span></li>
            <li><strong><%= t('.phone', default: 'Phone') %>:</strong>
                <span> <%= order.user.get_option('phone') %></span></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4><%= t('.billing_address', default: 'Billing Information') %></h4>
            <% detail = order.get_meta("billing_address", {}) %>
            <ul class="ec-list-orders-address">
                <li><strong><%= t('.address', default: 'Address') %>1:</strong> <%= billing_address[:address1] %></li>
                <li><strong><%= t('.address', default: 'Address') %>2:</strong> <%= billing_address[:address2] %></li>
                <li><strong><%= t('.city', default: 'City') %>:</strong> <%= billing_address[:city] %></li>
                <li><strong><%= t('.state', default: 'State') %>:</strong> <%= billing_address[:state] %></li>
                <li><strong><%= t('.zip_code', default: 'Zip code') %>:</strong> <%= billing_address[:zip] %></li>
                <li><strong><%= t('.country', default: 'Country') %>:</strong> <%= billing_address[:country] %></li>
                <li><strong><%= t('.phone_number', default: 'Phone Number') %>:</strong> <%= billing_address[:phone_number] %>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <% if shipping_address[:address1].present? %>
              <h4><%= t('.shipping_address', default: 'Shipping Address') %></h4>
              <% detail = order.get_meta("shipping_address", {}) %>
              <ul class="ec-list-orders-address">
                  <li><strong><%= t('.address', default: 'Address') %>1:</strong> <%= shipping_address[:address1] %></li>
                  <li><strong><%= t('.address', default: 'Address') %>2:</strong> <%= shipping_address[:address2] %></li>
                  <li><strong><%= t('.city', default: 'City') %>:</strong> <%= shipping_address[:city] %></li>
                  <li><strong><%= t('.state', default: 'State') %>:</strong> <%= shipping_address[:state] %></li>
                  <li><strong><%= t('.zip_code', default: 'Zip code') %>:</strong> <%= shipping_address[:zip] %></li>
                  <li><strong><%= t('.country', default: 'Country') %>:</strong> <%= shipping_address[:country] %></li>
                  <li><strong><%= t('.phone_number', default: 'Phone Number') %>:</strong> <%= shipping_address[:phone_number] %>
                  </li>
              </ul>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4><%= t('.title_products', default: 'Products and Payments') %></h4>
            <div id="totals_section">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th><%= t('.qty', default: 'Quantity') %></th>
                        <th><%= t('.item', default: 'Item') %></th>
                        <th><%= t('.price', default: 'Price') %></th>

                        <th><%= t('.tax', default: 'Tax') %></th>
                        <th><%= t('.subtotal', default: 'Sub Total') %></th>
                    </tr>
                    <% order.product_items.decorate.each do |item| %>
                        <tr>
                            <td><%= item.qty %></td>
                            <td><%= link_to(item.cache_the_title, item.the_url) %></td>
                            <td><%= item.cache_the_price %></td>
                            <td><%= item.cache_the_tax %></td>
                            <td><%= item.cache_the_sub_total %></td>
                        </tr>
                    <% end %>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2" class="text-right"><%= t('.total_excl', default: 'Total (excluding Tax)') %> </td>
                        <td><%= order.cache_the_sub_total %></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2" class="text-right"><%= t('.tax', default: 'Tax') %></td>
                        <td id="tax_total"><%= order.cache_the_tax %></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2" class="text-right"><%= t('.discount', default: 'Discount') %></td>
                        <td><%= order.cache_the_discounts %></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2" class="text-right"><%= t('.total_shipping', default: 'Total shipping') %></td>
                        <td><%= order.cache_the_shipping %></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2" class="text-right"><%= t('.total_price', default: 'Total Price') %></td>
                        <td><%= order.cache_the_total %></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th><%= t('.payment_type', default: 'Type Payment') %></th>
                    <th></th>
                </tr>
                <tr>
                    <td><%= order.payment_method.name rescue 'Not Payment' %></td>
                    <td><%= raw order.the_status %></td>
                </tr>
                <% if defined?(as_partial) %>
                    <tr>
                        <td>
                            <%= raw (order.get_meta('payment_data') || {}).map { |k, v| "<b>#{k.to_s.titleize}</b>: #{v}" }.join('<br>') %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th><%= t('.shipping_method', default: 'Shipping Method') %></th>
                    <th><%= t('.date_shipped', default: 'Shipped Date') %></th>
                    <th><%= t('.track_url', default: 'URL Tracking') %></th>
                </tr>
                <tr>
                    <td><%= order.the_shipping_method || t('.no_shipping', default: 'Not Shipped Assigned') %></td>
                    <td><%= order.shipped_at.presence || t('.no_shipped', default: 'Not Shipped') %></td>
                    <td><%= order.the_url_tracking %></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>