<p><%= t('plugins.ecommerce.mail.order_received.welcome') %> <%= @extra_data[:fullname] %></p>
<p><%= t('plugins.ecommerce.mail.order_received.thanks') %></p>
<%= raw @extra_data[:order_details_html] %>
<p><%= t('plugins.ecommerce.mail.order_received.reference') %> <a href="<%= @extra_data[:order_url] %>"><%= @extra_data[:order_slug] %></a>

