<% order_slug = @extra_data[:order].slug %>
<p><%= t('plugins.ecommerce.mail.order_received.welcome') %><%= @extra_data[:fullname] %></p>
<p><%= t('plugins.ecommerce.mail.recovery_cart.body') %></p>
<p><%= t('plugins.ecommerce.mail.recovery_cart.reference') %> <a href="<%= plugins_ecommerce_order_show_url(order: order_slug) %>"><%= order_slug %></a>
